<!-- Sessions.new.html.erb -->
<!-- ADD IMAGE OR SOMETHING ON THE SIDE -->
<div id="form">
		<%= form_tag login_path do%>
		<%= text_field_tag(:email, nil, placeholder: 'email') %>
		<br>
		<%= password_field_tag(:password, nil, placeholder: 'password')%>
		<br>
		<div class="button">
			<%=submit_tag "Sign In"%>
			<%end%>
		</div>
		<p>
			Or, create a <%=link_to "new account", new_user_path%>.
		</p>
		<!-- AJAX SO YOU DON'T HAVE TO SWITCH PAGES -->
	</div>
<!-- Add a 'Forgot Password' link? -->
