<p><%=@user.fname%> is logged in</p>
<h2>All work requests</h2>

<% @jobs.each do |job|%>
	<tr><%=job.title%></tr>
<br><%=link_to 'Edit', edit_user_unit_job_path(current_user.id, job.unit_id,job.id)%>
<tr><%=job.note%></tr>
<br>
<%=job.title%>
	<%end%>
