
<p>Submit a maintenance order</p>

<div class="job-order">
	<%=form_for @job do |f|%>
	<%=f.label :title%>
	<!--  ADD THE DROPDOWN MENU -->
	<%=f.text_field :title%>
	<%=f.label :note%>
	<%=f.text_field :note%>
	<%=f.submit 'Submit' %>
	<%end%>
</div>