<p><%=@user.fname%> is signed in</p>
<h2>Submit a maintenance order</h2>
<p>1. Select the type of work your apartment or designated area needs. 2. Describe the job and set the priority. 3. Submit! </p>

<div class="job-order">
	<%=form_for [current_user,@unit,@job], url: user_unit_jobs_path do |f|%>
	<!-- users/:user_id/units/:unit_id/jobs/new(.:format) -->
	<%=f.label :type%>
	<%= f.select :title,["Electrical","HVAC","Plumbing","Other"], prompt: :select %>

	<%=f.label :note%>
	<%=f.text_field :note%>
	<%=f.label :priority%>
	<%=f.text_field :priority%>
	<%=f.submit 'Submit' %>
	<%end%>
</div>
<div class="side-menu">
	<ul>
		<li>Contact your landlord</li>
		<li><%=link_to 'View previous work orders', user_unit_jobs_path%></li>
		<li>View building documents</li>
		<li><%=link_to 'Go to the Lobby', lobby_path%></li>
	</ul>
</div>
<%=link_to 'Lobby', lobby_path%>
