<p>Edit Your Profile</p>
<%=image_tag @user.avatar.url(:medium) %>
<%=form_for @user, method: :patch do |f| %>
<%=f.label :change_photo%>
<%=f.file_field :avatar%>
<%=f.submit "Update photo"%>
<%end%>

<div class="update-form">
		<%=form_for @user, method: :patch do |f|%>	
		<%=f.label :first_name %>
		<%=f.text_field :fname%>
		<br>
		<%=f.label :email%>
		<%=f.text_field :email%>
		<br>
		<%=f.label :password%>
		<%=f.password_field :password%> 
		<br>
		<%=f.submit "Update"%> 
		<%end%>
	</div>
	<%=link_to "Log Out", logout_path%>
	<br>
	<%=link_to "Profile", user_path(@user)%>