<h3>Welcome to 90 John Street!</h3>

<div id="form">
	<%=form_for @user do |f| %>
	<%=f.label :apartment%>
	<br>
	<%= f.select :apt,["1a","1b","1c","2b","2c","2j","3c","3s","4d","4f","5p","7a","7p","12"], prompt: :select %>

	<br>
	<%=f.label :first_name%>
	<br>
	<%=f.text_field :fname%>
	<br>
	<%=f.label :email%>
	<br>
	<%=f.text_field :email %>
	<br>
	<%=f.label :password%>
	<br>
	<%=f.password_field :password %>
	<br>
	<%=f.label :Your_photo%><p>(optional)</p>
	<%=f.file_field :avatar%>
	<%=f.submit "Create Account" %>
	<%end%>
</div>