<nav id="navbar">
  <ul id="ul_navbar">
    <div id="logo">   
    <img src="../assets/hand.png" height="24px" width="24px">
    <h3>Stooper</h3>
    </div>
    <h2><span style="color:white">Welcome to 90 John Street!</span></h2>
  </ul>
</nav>

<div id="form">
	<%=form_for @user do |f| %>
	<%=f.label :apartment%>
	<br>
	<%= f.select :apt,["1a","1b","1c","2b","2c","2j","3c","3s","4d","4f","5p","7a","7p","12"], prompt: :select %>

	<br>
	<%=f.label :first_name%>
	<br>
	<%=f.text_field :fname%>
	<br>
	<%=f.label :email%>
	<br>
	<%=f.text_field :email %>
	<br>
	<%=f.label :password%>
	<br>
	<%=f.password_field :password %>
	<br>
	<%=f.label :Your_photo%><p>(optional)</p>
	<%=f.file_field :avatar%>
	<%=f.submit "Create Account" %>
	<%end%>
</div>