<nav id="navbar">
	<ul id="ul_navbar">
		<div id="logo">		
		<img src="../assets/hand.png" height="24px" width="24px">
		
		<h3>Stooper</h3>
		</div>
		<div id="nav_avatar">
	 		<li><%=image_tag @user.avatar.url(:thumb) %></li>
	 	</div>

	</ul>
</nav>
<div id="wrapper">
	<div id="table_1">
		<!-- <b>Home Stuff</b> -->
		<ul>
		<li><%=link_to 'Pay rent', charges_new_path%></li>
		<li><%=link_to 'Submit a maintenance request', new_user_unit_job_path(@user.id, @user.unit.id) %></li>
		<li>View building documents and resources</li>
		</ul>
	</div>

	<div id="table_2">
		<ul>
			<div id="select">
			<li>Message a Neighbor</li>
			</div>
			<!--ajax users.all email addresses and avatars -->
			<div id="select">
			<li><%=link_to 'Edit your account', edit_user_path%></li>
			</div>
			<div id="select">
			<li><%=link_to 'Make an announcement', new_post_path%></li>
			</div>
			<div id="select">
			<li><%=link_to 'Visit the Lobby', lobby_path%></li>
			</div>
		</ul>
	</div>
</div>
<br>

<%=link_to 'Log out', logout_path%>

