<nav id="navbar">
	<ul id="ul_navbar">
		<div id="logo">		
		<img src="../assets/hand.png" height="24px" width="24px">
		
		<h3>Stooper</h3>
		</div>
		<div id="nav_avatar">
	 		<li><%=image_tag @user.avatar.url(:thumb) %></li>
	 	</div>

	</ul>
</nav>
<!-- <p>welcome <%=current_user.fname%></p> -->
<%=link_to 'Profile', user_path(current_user.id) %>
<ul>
	<li>Current Work</li>
	<li>Planned work</li>
	<li>Events Calendar</li>
	<li>Bulletin Board</li>
</ul>

<div class="lobby-work">
	</div>
	<div class="lobby-posts">
	
		<% @post.each do |post|%>
		<td><%=post.title%></td>
		<td>(<%=post.user.fname%>)</td>
		<br>
		<%end%>
	</div>
<%#=link_to 'Documents', docs_path%>
<%=link_to 'Log out', logout_path%>
