<div id="nav_avatar">
	 		<li>welcome <%=current_user.fname%>! <%=image_tag @user.avatar.url(:thumb) %></li>
	 	</div>
<!-- <p>welcome <%=current_user.fname%></p> -->
<div id="wrapper">
	<div id="table_1">
		<ul>
			<li><%=link_to 'Profile', user_path(current_user.id) %></li>
			<li>Current Work</li>
			<li>Planned work</li>
			<li>Events Calendar</li>
			<li>Bulletin Board</li>
		</ul>
	</div>
	<!-- <div class="lobby-posts"> -->
		<div id="table_2">
		<% @post.each do |post|%>
		<div id="select">
		<li><%= link_to post.title, post_path(post) %></li>
		<div id="detail">
			<!-- ADD RUBY FOR CONDITIONAL COLORING OF ADMIN'S POSTS -->
			<%=post.user.fname%> <%= l Time.now, :format => "%m-%d-%Y"%>
		</div>
		</div>
		<%end%>
	</div>
</div>
<%#=link_to 'Documents', docs_path%>
<%=link_to 'Log out', logout_path%>
