<p><%=@user.fname%> is signed in</p>
<p>Add a note to the public lobby</p>
<%=form_for(@post) do|f|%>
<%=f.label :title%>
<%=f.text_field :title%>
<%=f.label :body%>
<%=f.text_field :body%>
<%=f.submit%>
<%end%>

<p>Or, visit the private lobby</p>
<!-- linkto partial lobby view -->