<p>Your Messages</p>
<!-- Show the body, title, and datecreated of a selected post -->
<%= @post.title%>
<%= @post.body%>
<%= l Time.now, :format => "%m-%d-%Y"%>
<%= link_to 'edit post', edit_post_path, method: :edit%>
<%= link_to 'delete post', post_path, method: :delete%>